body {
    background-color: white;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

#highScore, .timer, #seconds  {
    color: orangered;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
}

.main, .endContainer   {
    display: flexbox;
    justify-content: center;
    margin: 20px;
    align-content: center;
    text-align: center;
}

h1  {
    text-align: center;
    color:darkgreen;
    font-family: "Arial";
    font-weight: bold;
}

h2, .question  {
    text-align: leftr;
    color:darkgreen;
    font-family: "Arial";
}

.button, button, .answer1, .answer2, .answer3, .answer4, .goback, .clear{
    position: center;
    font-size: 15px;
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    width: 250px;
}



button:hover, button:focus, button:active, button:visited   {
    background-color: orangered;
}

.container {
    text-align: left;
}

@media (max-width: 700px) {
    .header, .main {   
      flex-direction: column;
    }
  }